.author-name-fx{
    margin: 38px 0 !important;
    span{

        &:nth-child(1){
            margin-right: 4px;
            color: #c5821d !important;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        &:nth-child(2){
            font-family: "augusta-free";
            display: block;
            font-size: 5rem;        
        }

        &:nth-child(3){
            font-size: 13px;
            letter-spacing: 9px;
            display: block;
            margin: 2em 0;
        }
    } 
}

.burger-nav{
    position: absolute;
    right: 20px;
    background: #f1e8e2;
    padding: 19px; 
    span{
        width: 26px;
        height: 5px;
        background: #a58b8b;
        display: block;
        margin-bottom: 3px;
    }
}


#book-columns{
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 78px;
    margin-bottom: 18vh;

    .box-element-left{
        background: #3C5065;
        padding: 7%;
        display: block;
        img{
            width: 364px;
            max-width:100%;
        }

        button{
            position: absolute;
            margin: 0;
            transform: translate(-49px, 403px);
            padding: 29px;
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 3px;
            text-transform: uppercase;
            background: #2A3C4E;
        }
    }

    .box-element-right{
        background: #000 !important;
        height: 517px;
        display: flex;
        align-items: end;
        flex-direction: column;
        justify-content: center;
        padding: 0 8%;
        color: #ffff;
        text-align: left;

        .heading-ft{
            font-size: 67px;
        }
        .span-letter-ft{
            margin-bottom: 14vh !important;
            font-size: 26px;

            &:after{
                content: '';
                width: 59px;
                background: #D4A676;
                position: relative;
                display: block;
                height: 1px;
                margin: 1px 0px;
            }
            span{
                color: #fff !important;
                line-height: 0.9;
                display: block;
            }
        }
    }
}


.book-section{
    &:after{
        content: '';
        height: 369px;
        position: absolute;
        background: #738598;
        width: 100%;
        display: block;
        z-index: -1;
        transform: translateY(-369px);
    }
}

.book-wraps{

    text-align: center;
    background: #e4e4e4;
    padding: 10% 0;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(224, 222, 222, 0.5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(224, 222, 222, 0.5);
    box-shadow: 2px 3px 14px 0px rgba(224, 222, 222, 0.5);
    border-radius: 4%;

    img{
        width: 300px;
    }
    button{
        display: block;
        margin: 2% auto;
    }

    h5{
        margin: 0;
        font-size: 2em;
    }

    span{
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block;
        line-height: 2;
    }
}


.author-image{
    img{

        width: 490px;
        transform: translateY(-217px);
    }

    button{
        margin: 0;
        position: absolute;
        transform: translate(-168px, 445px);
        padding: 29px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        text-transform: uppercase;
        background: #2A3C4E;
    }
}

.upper-main{
    
    padding: 0%;
    text-align: center;

    &:before{
        content: 'Author';
        position: absolute;
        left: 0;
        transform: rotate(-90deg);
        font-size: 7em;
        font-family: 'Scheherazade', serif;
        transform-origin: left;
        transform: translate(200px, 300px) rotate(-90deg);
        font-weight: 400;
    }

    h1{
        font-size: 2.5rem;
        font-weight: 100;
        color: #000;
    }

    .middle-params{
        width: 70%;
        margin-bottom: 22% !important;
        text-align: left;
    }

    #wrapper-two-books{
        margin: 5% 0;
        gap: 13px;
        
        &:after{
            content:'';
        }
    }

    .col-right{
        text-align: right;
        padding: 58px;
    }
}


.mid-main{
    text-align: center;

    h1{

        font-size: 9vw;
        font-weight: 400;
        line-height: 1;

        &:before{
             content:'';
        }
    }

    .middle-params{
        width: 70%;
        text-align: left;
        // margin: 0 auto !important;
        color: #a0a0a0 !important;
        margin-bottom: 19% !important;
    }

    li{
        list-style-type: none;
        img{
            width: 71%;
        }
    }

    #logos-col{
        margin: 13% 0;
    }
}

.wrapper-auth-content{
    
    img{
        width: 250px;
        border: 1.2em solid #f1ebd5;
    }

    button{
        display: block;
    }

    h1{
        font-size: 3em;
        margin: 32px 0;
        font-weight: bold;
    }

    .span-tagline{
        display: block;
        &:before{
            content: '';
            width: 43px;
            background: #a0a0a0ee;
            position: relative;
            display: inline-block;
            height: 1px;
            margin: 6px 13px;
        }
    }
}

.auth-img-container{
    text-align: center;
}

.two-grid-column{

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    text-align: center;
    margin-top: 3em;

    ul{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            list-style-type: none;
            a{
                margin: 0 11px;
                font-size: 12px;
            }
        }
    }
    p{
        font-size: 14px;
    }
}



.hamburger-span{
    width: 25px;
    display: block;
    height: 3px;
    background: #0c0c0c;
    margin: 3px 0;
    cursor: pointer; 
}


.book-wrapper-slider{

    background: #ffffff;
    padding: 6%;
    box-shadow: -1px 1px 28px 4px #f1f1f1;
    border-radius: 50px;
    margin: 10px 0;
}


.content-wrapper{
    margin-bottom: 4em;
    h1{
        line-height: 2;
    }
}

.two-grid-elements{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 700px;

    .box-one{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: #24374B;
        align-items: flex-start;
        padding: 0 15%;

        h1{
            &:before{
                content: '';
                width: 173px;
                background: #D4A676;
                position: relative;
                display: block;
                height: 5px;
                margin: 1px 0px;
            }
        }
    }
}

/*Slick Custom*/

.slick-slider{
    margin: 0 70px;
}

.slick-initialized .slick-slide{
    text-align: center;
    padding: 0 10px;
    h3{
        font-size: 2em;
        color: #000;
        margin: 0.6em;
        font-weight: bold;
    }
}

.slick-active{
    text-align: center !important;

    img{
        margin: 0 auto;
    }
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fdda55 !important;
}

.slick-prev:before, .slick-next:before{
    color: #fee380 !important;
    position: relative;
    z-index: 10 !important;
    font-size: 40px !important;
}

.slick-prev, .slick-next{
    margin:0 !important;
}

.slick-prev{
    z-index: 10 !important;
    left: 0 !important;
}

.slick-next{
    right: 15px !important;
}



#grid-bg-element{
    &:after{
        content: "";
        width: 212px;
        height: 444px;
        background:url("../../../static/img/chair.png");
        position: absolute;
        display: inline-block;
        right: 0;
        transform: translateY(111px);
        background-repeat: no-repeat;
        opacity: 0.7;
    
    }
}

.book-letter{
    text-transform: uppercase;
    display: block;
    font-size: 89px;
    font-weight: 900;
    text-align: right;
    width: 100%;
    line-height: 0.3;
    // margin: 55px 0 !important;
    transform: translateX(107px);
    margin:0 !important;
    span{
        display: block;
        color: #2c4156ab !important;
    }
}

#column-upper{
    margin-bottom: 9vh;
}

.heading-logo{
    margin: 0 29px;
    img{
        max-width: 180px;
        padding: 15px;
    }
}


#parent-quote-col{
    background: rgba(255, 243, 235, 0.49);
    #left-col{
        display: flex;
        flex-direction: column;
        height: 700px;
        align-items: center;
        justify-content: center;

        background-image: url("../../../static/img/road.png");

        /* Set a specific height */
 
        /* Create the parallax scrolling effect */
        // background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


        // span{
        //     &:nth-child(1){
        //         width: 30%;
        //         height: 700px;
        //         position: absolute;
        //         left: 0;
        //         background: #ead7cb;
        //         z-index: 3;
        //     }
            
        //     &:nth-child(2){
        //         width: 50%;
        //         height: 700px;
        //         position: absolute;
        //         left: 0;
        //         background: #f5e4da;
        //     }
        // }


        &:before{
            // content: '';
            // width: 639px;
            // height: 700px;
            // position: absolute;
            // left: 0;
            // background: #F1E8E2;

        }

        img{
            position: relative;
            z-index: 5;
            transform: translateX(53px);
            width: 650px;
        }

    }
}

.text-content-wrapper{

    background: hsla(23, 100%, 97%, 0.49);
    display: flex;
    height: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff3ec;

    h1{
        color: #BC6F3C;
        font-size: 6vw;
        font-family: 'Scheherazade', serif;
    }
    h2{
        font-size: 5vw;
        font-family: "augusta-free";
        color: #000;
        transform: translateY(-44px);
    }
    p{
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 10px !important;
        position: relative;
        z-index: 2;
        text-align: center;
        font-size: 13px;
    }

    span{
        &:before{
            content: '';
            width: 111px;
            background: #D4A676;
            position: relative;
            display: inline-block;
            height: 2px;
            margin: 1px 41px;
        }

        font-family: 'Scheherazade', serif;
        font-size: 35px;
        color: #000 !important;
        margin-top: 6%;
    }

}